
body {
    background: Linen;
    margin-top: 50px;
    margin-left: 100px;
    display: inline;
    }

button {
  margin: 10px;
}

tr.border {
    outline: thin solid;
    background: lavender;
    }

td {
      font-family: Georgia, serif;
      font-size: 1em;
      color: DarkSlateGray;
    }

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2.5em;
    color: FireBrick;
    }

.folderlist {
    color:antiquewhite;
  }

.filename {
    font-size:x-large;
  }

.filepath {
    font-size:large;
  }

.size {
    font-size: large;
  }

.type {
    font-size: large;
  }

.created {
    font-size: large;
  }

.copied {
    font-size: large;
  }

p {
  display: inline;
  font-size: medium;
  }
  
div {
    display: inline;
  }
