<html>
  <head>
    <link rel="stylesheet" href='/static/css/main.css' />
  </head>
  <body>
    <h1>Doubled pictures</h1>
    <h2>Folders which photos were found</h2>
    <p class="folderslist"></p>
      {% for item in items %}
        {{item}}<br>
      {% endfor %}
    </p>
    <h2>Doubled pictures/photos</h2>
    <table>
      {% for photocells in listofphotos %}
      <tr class="border">
        {% for photocell in photocells %}
          {% if loop.first %}
            <td class="filepath">{{ loop.length }}</td>
          {% endif %}
        <td>
            <img src="data:image/jpeg;base64,{{photocell.data}}"></br>
            <label class="filepath" for="{{photocell._id}}">
            <!--<a href="/toggle/{{ photocell._id }}">-->
            <input type="checkbox" id="{{photocell._id}}" name="{{photocell._id}}" value="{{photocell._id}}">
            <!--</a>-->
            {{photocell.Name}}</label></br>
            <p class="filepath">{{photocell.Path}}</p><br>
            Size <p class="size">{{photocell.Size[0]}}x{{photocell.Size[1]}}</p>px/<p class="size">{{photocell.fSize}}</p>bytes<br>
            <p class="type">{{photocell.Format}} ({{photocell.Description}})</p><br>
            Created at this place: <p class="created">{{photocell.fCreate}}</p><br>
            Last modify: <p class="copied">{{photocell.fModify}}</p>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>