<html>
  <head>
    <link rel="stylesheet" href='/static/css/main.css' />
  </head>
  <body>
    <form id="similarity" action="/" method="post">
      <button type="submit" form="similarity">Recalculate similarity factor?</button>
    </form>
    <h1>Doubled pictures</h1>
    <div class="folders">
      <h2>Folders which photos were found</h2>
      {% for item in items %}
        <p class="folderslist">{{item}}</p><br>
      {% endfor %}
    </div>
    <div class="pictures">
      <h2>Doubled pictures/photos</h2>
      <table>
        {% for photocells in listofphotos %}
        <tr class="border">
          <form id="{{ loop.index0 }}" action="/selected/{{ loop.index0 }}" method="get">
            <td>
              <button type=submit form="{{ loop.index0 }}">
            {% for photocell in photocells %}
              {% if loop.first %}
                Go to delete some/all of {{ loop.length }} pictures</button> 
                </td>
              {% endif %}
            <td>
              <img src="data:image/jpeg;base64,{{photocell.data}}"><br>
              {% if loop.first or photocell.Name != loop.previtem.Name %}
                <p class="filename">{{photocell.Name}}</p>
              {% else %}
                <p class="filename">-</p>
              {% endif %}
              <br>
              {% if loop.first or photocell.Path != loop.previtem.Path %}
                <p class="filepath">{{photocell.Path}}</p>
              {% else %}
                <p class="filepath">-</p>
              {% endif %}
              <br>
                {% if loop.first or photocell.Size != loop.previtem.Size %}
                  <p>Size (px): </p><p class="size"></p>{{photocell.Size[0]}}x{{photocell.Size[1]}}, </p>
                {% else %}
                  <p class="size">- </p>
                {% endif %}
                <br>
                {% if loop.first or photocell.fSize != loop.previtem.fSize %}
                  <p>Size (bytes): </p><p class="size">{{photocell.fSize}}</p> bytes
                {% else %}
                  <p class="size">-</p>
                {% endif %}
                <br>
              {% if loop.first or photocell.Format != loop.previtem.Format %}
                <p class="type">{{photocell.Format}} ({{photocell.Description}})</p>
              {% else %}
                <p class="type">-</p>
              {% endif %}
              <br>
              {% if loop.first or photocell.fCreate != loop.previtem.fCreate %}
                <p>Created at this place: </p>
                <p class="created">{{photocell.fCreate}}</p>
              {% else %}
                <p class="created">-</p>
              {% endif %}
              <br>
              {% if loop.first or photocell.fCreate != loop.previtem.fCreate %}
                <p>Last modify: </p>
                <p class="copied">{{photocell.fCreate}}</p>
              {% else %}
                <p class="copied">-</p>
              {% endif %}
              <br><p>{{photocell.Stddev}}</p><br>
          </td>
        {% endfor %}
        </form>
      </tr>
      {% endfor %}
    </table>
  </div>
  </body>
</html>